<?xml version="1.0" encoding="utf-8"?>
<messages>
    <message id="password-dialog-title">Login</message>
    <message id="main-template">
        <div id="header" class="dark">
            <h1>Bienvenido á Iglesia Vida Nueva</h1>
        </div>
        <div id="menu">
            ${menu}
        </div>
        <div id="body">
            ${body}
        </div>
        <div id="footer">
            Copyright Iglesia Cristiana Vida Nueva. 15 River Crescent, Broadbeach Waters QLD 4218 | Teléfono 0415368674 | Fax 07 55799502 144 | Cotlew Street Ashmore 4214 QLD Australia | email: info@vidanueva.org.au | All Rights Reserved.
        </div>
    </message>
</messages>

